#navigation {
  width: $desktop-width;
  margin: 0 auto;
  padding-top: 35px;
  .hamburger {
    display: none;
  }

  #menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
    padding-right: 8px;

    .logo {
      img {
        width: 100%;
        max-width: 210px;
      }
    }

    li {
      text-align: center;
      white-space: nowrap;

      //POSITIONING OF NAVIGATION LINKS
      &:not(.logo) {
        padding: 0 25/1181 * 100%;
        position: relative;
        top: -3px;
      }
    }

    //NAVIGATION LINKS STYLING
    a {
      @include font($fontFamily: $lato-bold, $fontColor: #fff);
      text-decoration: none;
      position: relative;

      // HOVER UNDERLINE
      &:after {
        @include underline(0);
      }
    }

    .active {
      &:after {
        @include underline(100%);
        @include underline-scale(1.25);
      }
    }

    .hover:after {
      @include underline-scale(0);
    }

    .hover:hover:after {
      transform: scaleX(1.25);
    }

    //NAVIGATION LINKS TO RIGHT
    .home {
      margin-left: auto;
      padding-left: 0;
    }
  }
}
.search-icon {
  position: relative;
  top: 2px;
  right: 2px;
  z-index: 3;

  img {
    width: 18px;
  }
}
.search-bar {
  display: none;
  width: 0;
}
.floating-label {
  display: none;
}
// //SEARCH BAR EXPANDED
.search-clicked {
  li {
    &:not(.logo):not(.search) {
      display: none;
    }
  }
  .search {
    @include fade;
    display: flex;
    position: absolute;
    margin: 7px 1% 0 auto;
    z-index: 999;
    background-color: $orange-lighter;
    border-bottom: 2px solid $orange-secondary;
    padding-bottom: 4px;
    width: 600/1181 * 100%;
    .floating-label {
      @include font($fontSize: 14px, $fontColor: #fff);
      display: inline-block;
      position: absolute;
      pointer-events: none;
      color: #fff;
      left: 50/600 * 100%;
      top: 9px;
      font-size: 14px;
      @include transition(all);
    }
    .floating-label-lift {
      top: -7px;
      font-size: 12px;
    }
    .search-icon {
      top: 7px;
      right: 12px;
      margin-right: 8px;
    }
    .search-bar {
      @include font($fontColor: #fff);
      width: 600px;
      position: relative;
      right: 2px;
      line-height: 2;
      display: block;
    }
  }
}
