//-----------------------------
//COLOR VARIABLES
//-----------------------------

// Green based colors

$green-primary: #274f46;
$green-secondary: #2f5c52;
$green-lighter: #97c2b6;
$green-lightest: #4bb891;
$green-offers: #3f9b7a;

//FONTS

$lato-regular: 'Lato-Regular', sans-serif !important;
$lato-bold: 'Lato-Bold', sans-serif !important;
$lato-italic: 'Lato-Italic', sans-serif !important;
$lora-bold: 'Lora-Bold', sans-serif !important;

// Blue based colors

$blue-primary: #002336;
$blue-secondary: #9297b0;
$blue-lighter: #b1b8cb;
$blue-lightest: #eef0f6;
$blue-user: #6dabff;
// Orange based colors

$orange-primary: #f17a00;
$orange-secondary: #f3a742;
$orange-lighter: #f6c695;

//-----------------------------
//WIDTH VARIABLES
//-----------------------------

$desktop-width: 1181/1640 * 100%;
$tablet-width: 720/768 * 100%;
$mobile-width: 335/375 * 100%;
